* {
    box-sizing: border-box;
    padding: 1;
    margin: 0;
    font-family: "Oswald", sans-serif;
}

.line {
    height: 1px;
}

input {
    height: 4rem;
    border: none;
    font-size: xx-large;
    border: 1px #a4a4a4 solid;

    pointer-events: none;
}

#in-1 {
    pointer-events: all;
}

input:focus {
    border: 1px #0b5ed7 solid;
}

@media screen and (min-width: 425px) {
    .main-div {
        max-width: 425px !important;
    }

    .line {
        max-width: 393px !important;
    }
}

@media screen and (max-width: 375px) {
    input {
        height: 3.5rem;
    }
}

.control-div {
    width: 0px;
    height: 0px;
}
